@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mahajani&family=Poppins:wght@400;500&display=swap');

.App {
  text-align: center;
  font-family: 'Noto Sans Mahajani', sans-serif;
  font-family: 'Poppins', sans-serif;
}

.items-center{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-title{
  font-size: 2.6em;
}

.header-login{
  background-color: #8CCCDF;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 4em;
  padding: 1.5em;
  font-size: 1.3em;
  flex-wrap: wrap;
  border-bottom: 1px solid lightslategray;
  margin-bottom: 1em;

  font-family: 'Noto Sans Mahajani', sans-serif;
  font-family: 'Poppins', sans-serif;
}

.message-form{
  font-size: 1.5em;
  text-align: center;
}

.nav-text{
  text-decoration: none;
  transition: all .5s ease;
  color: black;
}

.nav-text:hover{
  color: #3d64e6;
}

.login-form{
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 2em;
  font-size: 1.2em;
  margin: 0.5em;

  font-family: 'Noto Sans Mahajani', sans-serif;
  font-family: 'Poppins', sans-serif;
}

.mt-5-mb-3{
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 2em;
  font-size: 2.6em;
  flex-wrap: wrap;

  font-family: 'Noto Sans Mahajani', sans-serif;
  font-family: 'Poppins', sans-serif;
}

.alert-danger{
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 2em;

  font-family: 'Noto Sans Mahajani', sans-serif;
  font-family: 'Poppins', sans-serif;
}

.card-mb-1{
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 2em;
  padding: 1em;
  font-size: 1.4em;
  border-bottom: 1px solid black;

  font-family: 'Noto Sans Mahajani', sans-serif;
  font-family: 'Poppins', sans-serif;
}

.card-mb-2{
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 2em;
  padding: 1em;
  font-size: 1.3em;
  

  font-family: 'Noto Sans Mahajani', sans-serif;
  font-family: 'Poppins', sans-serif;
  
}

.card-mb-3{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 2em;
  padding: 1em;
  

  font-family: 'Noto Sans Mahajani', sans-serif;
  font-family: 'Poppins', sans-serif;
}

.card-mb-4{
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 2em;
  padding: 1em;
  font-size: 1em;
  border-bottom: 1px solid black;
  
  font-family: 'Noto Sans Mahajani', sans-serif;
  font-family: 'Poppins', sans-serif;
}

.alert-danger{
  color: red;
  font-size: 1.3em;
  margin: 2em;
}

.form-control{
  font-size: 1.5em;
  padding: 0 0.62em;
  border: none;
  border-bottom: 2px solid #3d64e6;
  outline: none;
  color: #222a43;
  font-family: 'Poppins', sans-serif;
  font-size: 1.7em;

  font-family: 'Noto Sans Mahajani', sans-serif;
  font-family: 'Poppins', sans-serif;
}

.btn-primary{
    font-size: 1em;
    background-color: #3d64e6;
    color: #ffffff;
    padding: 0.8em 1.2em;
    border: none;
    border-radius: 1.5em;
    cursor: pointer;
}

.card-title{
  font-size: 1.2em;
}

.card-subtitle-mb-2{
  font-size: 1em;
}

.input-form{
  font-size: 1.3em;
  width: 20em;
  padding: 0 0.62em;
  border: none;
  border-bottom: 2px solid #3d64e6;
  outline: none;
  color: #222a43;
  font-family: 'Poppins', sans-serif;
}

.login-signup-error{
  color: red;
}

.message-sign-up{
  color: #123fd4;
}

button{
  font-size: 1em;
  background-color: #3d56e6;
  color: #ffffff;
  padding: 0.8em 1.2em;
  border: none;
  border-radius: 1.5em;
  cursor: pointer;
}

.form-structure{
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 1em;
}

.result-container{
  background-color: #ffffffef;
  padding: 2.6em 2.8em;
  border-radius: 0.62em;
  box-shadow: 0 1.25em 1.8em rgba(8, 21, 65, 0.25);
  text-align: center;
  list-style-type: disc;
  margin-top: 2em;
  margin-bottom: 5em;
}



@media only screen and (max-width: 557px){

  .header-login{
    display: grid;
    gap: 3em;
  }

  .input-form{
    width: 95%;
  }

}